.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */

  display: inline-block;
  vertical-align: middle;
}
.star-cb-group * {
  font-size: 18px;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "\f006";
  color: #aaa;
  font-family: FontAwesome;
  font-weight: normal;
  cursor: pointer;
}

.star-cb-group > input:checked ~ label:before, 
.star-cb-group > input + label:hover ~ label:before, 
.star-cb-group > input + label:hover:before {
  content: "\f005";
  color: gold;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "\f006";
  color: #aaa;
}
.star-cb-group:hover > input + label:hover ~ label:before {
  content: "\f005";
  color: gold;
}
.star-cb-group:hover > input + label:hover:before {
  content: "\f005";
  color: gray;
}

.star-cb-group.only-one > input:checked + label:before {
  color: gold;
}

.star-cb-group.only-one > input:checked + label ~ label:before {
  color: #aaa;
  content: "\f006";
}

.star-cb-group.only-one:hover > input + label:before,
.star-cb-group.only-one:hover > input + label ~ label:before {
  color: #aaa;
  content: "\f006";
}

.star-cb-group.only-one:hover > input:checked + label:before {
  color: gold;
  content: "\f005";
}

.star-cb-group.only-one:hover > input + label:hover:before {
  color: gray;
  content: "\f005";
}
